<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
            <img src="/public/images/logo-mercado-liebre.svg" width="100%" height="100%">
            <br>
            <h3>Lugar para poner barra de búsqueda</h3>
            <br>
            <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
            <br>
            <nav>
                <a href="www.google.com">Oferta</a>
                <a href="www.google.com">Tiendas Oficiales</a>
                <a href="www.google.com">Vender</a>
                <a href="www.google.com">Ayuda</a>
            </nav>
            <br>
            <ul>
                <li><a href="www.google.com"> Creá tu cuenta</a></li>
                <li><a href="www.google.com">Ingresá</a></li>
                <li><a href="www.google.com">Mis compras</a></li>
            </ul>

    </header>
    <main>  
        <section>
                <h3>Basado en tu última visita</h3>
                <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <br>
                <article>$6.770</article>
                <br>
                <article>40% Off </article>
                <br>
                <article><h4>Cafetera Moulinex</h4></article>
                <br>
                <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <br>
                <article>$230.000</article>
                <br>
                <article>20% off</article>
                <br>
                <article><h4>MacBook Pro 2019</h4></article>
                <br>
                <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <br>
                <article>$70.500</article>
                <br>
                <article>10% off</article>
                <br>
                <article><h4>Samsung Galaxy S10</h4></article>
                <br>
                <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <br>
                <article>$23.200</article>
                <br>
                <article>5% off</article>
                <br>
                <article><h4>SmartTv Samsung 43"</h4></article>
        </section>
        <section>
            <h3>Sección ofertas</h3>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <article>$6.770</article>
            <br>
            <article>40% Off </article>
            <br>
            <article><h4>Cafetera Moulinex</h4></article>
            <br>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <article>$230.000</article>
            <br>
            <article>20% off</article>
            <br>
            <article><h4>MacBook Pro 2019</h4></article>
            <br>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <article>$70.500</article>
            <br>
            <article>10% off</article>
            <br>
            <article><h4>Samsung Galaxy S10</h4></article>
            <br>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <article>$23.200</article>
            <br>
            <article>5% off</article>
            <br>
            <article><h4>SmartTv Samsung 43"</h4></article>
        </section>
    </main>
    <footer>

    </footer>    
</body>
</html>