<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="header-bar">

            <div class="box-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg">
                </div>

                <div class="buscar">
                    <input class="buscar-input" type="text" placeholder="  Buscar..." required>
                    <button class="lupa">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="compracuotas">
                    <div class="compra"><i class="fas fa-hand-holding-usd"></i>
                        <h5>Compra en cuotas y sin tarjeta de credito</h5>
                    </div>
                </div>
            </div>
            <div class="lista1">
                <ul class="info" type="none">
                    <li> <a href=""> Ofertas </a> </li>
                    <li> <a href=""> Tiendas Oficiales </a></li>
                    <li> <a href=""> Vender </a></li>
                    <li> <a href=""> Ayuda </a></li>
                </ul>

                <div class="lista2">
                    <ul class="cuenta" type="none">
                        <li> <a href="">Crear tu cuenta<i class="fas fa-address-card"></i></a> </li>
                        <li> <a href="">Ingresar<i class="fas fa-sign-in-alt"></i></a></li>
                        <li> <a href="">Mis Compras<i class="fas fa-shopping-basket"></i></a></i></li>
                    </ul>
                </div>
            </div>

            <div class="burger-menu">
                <button id="menu">
                    <i class="fas fa-bars"></i>
                </button>

            </div>
            <banner class="banner">
                <img src="images/img-home-banner.jpg">
            </banner>

        </nav>
    </header>


    <main class="main-box">

        <section class="box-productos">
            <h2 class="titulares">Seccion : Basado en la ultima visita</h2>

            <article class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" id="imagen.size">

                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $6770</p>
                        <p class="dyc"> 40% Off</p>
                    </div>
                    <p class="dyd"> Cafetera Moulinex</p>
                </article>

            </article>

            <article class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" id="imagen.size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $230000 </p>
                        <p class="dyc"> 20% Off</p>
                    </div>
                    <p class="dyd"> MacBook Pro 2019</p>
                </article>

            </article>


            <article class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" id="imagen.size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $70500</p>
                        <p class="dyc"> 10% Off</p>
                    </div>
                    <p class="dyd"> Samsung Galaxy S10</p>
                </article>

            </article>



            <article class="articulo">
                <img src="images/img-tv-samsung-smart.jpg" id="imagen.size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $23200</p>
                        <p class="dyc"> 5% Off</p>
                    </div>
                    <p class="dyd">Smart Tv Samsung 43"</p>
                </article>

            </article>


        </section>

        <section class="box-productos">
            <h2 class="titulares"> Seccion de Ofertas</h2>
            <article class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" id="imagen.size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $6770</p>
                        <p class="dyc"> 40% Off</p>
                    </div>
                    <h3 class="dyd"> Cafetera Moulinex</h3>
                </article>

            </article>


            <article class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" id="imagen-size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $230000</p>
                        <p class="dyc"> 20% Off</p>
                    </div>
                    <p class="dyd"> MacBook Pro 2019</p>
                </article>

            </article>


            <article class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" id="imagen-size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="box-item">
                        <p class="precio"> $70500</p>
                        <p class="dyc"> 10% Off</p>
                    </div>
                    <p class="dyd"> Samsung Galaxy S10</p>
                </article>

            </article>

            <article class="articulo">
                <img src="images/img-tv-samsung-smart.jpg" id="imagen.size">
                <article class="articulo-detail">
                    <i class="fas fa-shipping-fast" id="chacho"></i>
                    <div class="box-item">
                        <p class="precio">$23200</p>
                        <p class="dyc"> 5% Off</p>
                    </div>
                    <p class="dyd"> Smart Tv Samsung 43"</p>
                </article>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Pagá con tarjeta o en efectivo</h3>
            <br>
            <p class="texto"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section>
            <i class="fas fa-gift fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Envío gratis desde $ 2.500</h3>
            <br>
            <p class="texto">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section>

            <i class="fas fa-user-shield fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Seguridad, de principio a fin</h3>
            <br>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br><br>
        <section>

            <h3 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>




    </footer>
</body>

</html>